@import "tailwindcss";

:root {
  color-scheme: light;
}

body {
  background-color: #fafaf9;
  color: #1c1917;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.market-sans-title {
  font-family: "Market Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
